.headshot {
    max-height: 300px;
    border-radius: 50%;
    float: left;
    padding: 15px;
}


#tech-stack {
    margin: auto auto;
    justify-content: space-between;
    max-width: 75%;
    padding: 20px auto;
    text-align:center;
}

#tech-stack *:hover {
    margin-top: -7px;
    padding-bottom: 7px;
}
  
.tech-icon {
    height: 85px;
}

#contact-wrapper {
    max-width: 500px;
    margin: auto auto;
    text-align: center;
}

#contact-row {
    text-align: center;
    margin: -30px 0px 50px 0px;
    justify-content: center;
    align-items: center;
}

#contact-icons *:hover {
    margin-top: -7px;
    padding-bottom: 7px;
    
}

.contact-img {
    height: 60px;
    margin: 0 10px;
}